:root {
    --branco-primaria: #FFFFFF;
    --cinza-segundaria: #C0C0C0;
    --azul-terciaria: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-primaria);
    font-family: var(--fonte-principal);
    font-size: 1rem;
}

.principal {
    background-image: url("../image/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 50%;



}

.container__titulo {
    padding: 20px;
    font-size: 1.7rem;
    font-weight: 700;
}


.container__image {
    padding: 20px;
    margin-bottom: 1em 0 2em 0;

}

.container__botao {
    text-decoration: none;
    background-color: var(--azul-terciaria);
    border-radius: 8px;
    padding: 1em;
    display: block;
    margin-bottom: 1em;

    font-weight: 400;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid white;

}

.container__aviso {
    font-size: 12px;
    font-weight: 400;
}

.inicial {
    margin: 0 6em;
}

.secundario {
    align-items: center;
}

.container__imagem__secundaria {
    width: 50%;

}

.container__titulo {
    font-size: 48px;
}

.descricao__titulo {
    font-size: 16px;
    font-weight: 400;
}

.container__caixa {
    margin: 0 6em;
}

.terceira{
    align-items: center;
    font-size: 48px;
    text-align: center;
}

.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos{
    text-align: center;
    margin: 6em 0;
}


.terciaria{
    font-size: 41px;
}

.dispositivos_lista{
    font-size: 32px;
}

.dispositivos_titulos{
    font-size: 48px;
   padding: 10px;
}

.rodape{
    text-align: center;
   
   font-family: var(--fonte-principal);
   margin: 5em 3em;
}

.rodape__logo{
    padding: 22px;
}



.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link{
    text-decoration: none;
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}